<div class="container-fluid">
    <div class="row banner-shoppingCart d-flex justify-content-center align-items-center">
        
            <p><span>Shopping Cart > Checkout > Order Complete</span></p>
       
    </div>
</div>