
<div class="container-fluid">
    <div class="row banner-shoppingCart d-flex justify-content-center">
        
            <p><span id="cart-banner-span">Shopping Cart ></span> Checkout > Order Complete</p>
       
    </div>
</div>