<div class="col-md-2 col-lg-2 col-xl-2">                      
</div>

<div class="col-md-3 col-lg-3 col-xl-3">
<p class="cart-titel">Product</p>
</div>

<div class="col-md-2 col-lg-2 col-xl-2 d-flex">
<p class="cart-titel-theme">Price</p>
</div>

<div class="col-md-2 col-lg-2 col-xl-2">
<p class="cart-titel">Quantity</p>
</div>

<div class="col-md-2 col-lg-2 col-xl-2 text-end">
<p class="cart-titel">Subtotal</p>
</div>
