@model WebShopApp.Models.ShoppingCartModel

@{
    ViewData["Title"] = "ShoppingCart";
}

@Model.TotalPrice :-
@Model.TotalQuantity stycken

<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2">
          <div class="card-body p-0">
            <div class="row ">
              <div class="col-lg-8">
                <div class="p-5">
                  

                  @*Product/Price/Quantity/Subtotal*@

                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">                      
                    </div>

                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <p class="Cart-titel">Product</p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 d-flex">
                      <p class="Cart-titel">Price</p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <p class="Cart-titel">Quantity</p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 text-end">
                      <p class="Cart-titel">Subtotal</p>
                    </div>
                  </div>


       

        
                 @foreach(var item in Model.ShoppingCart)
                 {                                        

                  @*Product*@
                  <hr class="my-4">

                  <div class="row mb-4 d-flex justify-content-between align-items-center">

                    @*Remove-btn*@
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                    </div>

                    @*Product-pic-name*@
                    <div class="col-md-1 col-lg-1 col-xl-1">
                      <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img5.webp"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">                      
                      <h6 class="text-black mb-0">@item.Product.Name</h6>
                    </div>

                    @*Price*@
                    <div class="col-md-2 col-lg-2 col-xl-2 d-flex">
                      <h6 class="mb-0">$@item.Product.PriceUSD</h6>
                    </div>

                    @*Amount-btns*@

                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                      </button>

                      <input id="form1" min="0" name="quantity" value="1" type="number"
                        class="form-control form-control-sm" />

                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>

                    @*Subtotal*@
                    <div class="col-md-2 col-lg-2 col-xl-2 text-end">
                      <p class="Cart-titel">Subtotal</p>
                    </div>
                  </div>

                    }
                    




                  <div class="col-md-2 col-lg-2 col-xl-2 text-end pt-5">
                    <h6 class="mb-0"><a href="#!" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Update cart</a></h6>
                  </div>
                </div>
              </div>


              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items 3</h5>
                    <h5>€ 132.00</h5>
                  </div>

                  <h5 class="text-uppercase mb-3">Shipping</h5>

                  <div class="mb-4 pb-2">
                    <select class="select">
                      <option value="1">Standard-Delivery- €5.00</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                      <option value="4">Four</option>
                    </select>
                  </div>

                  <h5 class="text-uppercase mb-3">Give code</h5>

                  <div class="mb-5">
                    <div class="form-outline">
                      <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea2">Enter your code</label>
                    </div>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>€ 137.00</h5>
                  </div>

                  <button type="button" class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark">Register</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>