<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/css/product-page-style.css" />

<div class="product-info-section">
<partial name="_ProductPageHeader" />

<div class="product-info">
    <section class="images">
        <img class="big-picture" src="@Url.Content("~/images/shoesdummydeluxe.png")">

    </section>
    <div class="text-section">
        <span class="text-turquoise">@ViewBag.Product.Name</span>
    </div>
    </div>
    </div>