<footer style="background-color:#0E153D; padding-left:300px; padding-right:300px;" class="text-white pt-5">

      <section>
        <div class="row">
          <div class="px-5 col-md">

            <section class="px-5 mb-4 text-start">
                <img src="images/Skärmbild 2022-04-28 150148.png" style="width:200px;">
                <p class="small"><br><br>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
                  repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
                  eum harum corrupti dicta, aliquam sequi voluptate quas.
                </p>
              </section>
        
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-3 pb-5 px-5">
            <h5 class="text-uppercase px-5" style="color:#20D3C2">Contact Info</h5>
            <div class="small px-5">
            <span style="color:#20D3C2; padding-bottom: 0px;">Address:</span><br>
                Solna Business Park<br>
                Feni-2500, Stockholm<br><br>
                <span style="color:#20D3C2;">Phone:</span><br>
                +08-123456789<br>
                +08-123456789<br><br>
                <span style="color:#20D3C2">Email:</span><br>
                support@website.com<br>
                info@website.com
            </div>

        </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-3">
            <h5 class="text-uppercase" style="color:#20D3C2">Useful links</h5>
            <ul class="list-unstyled">
              <li class="pt-2">
                <a href="#!" class="text-decoration-none text-white">Privacy Policy</a>
              </li>
              <li class="pt-2">
                <a href="#!" class="text-decoration-none text-white">Terms & Conditions</a>
              </li>
              <li class="pt-2">
                <a href="#!" class="text-decoration-none text-white">Contact Us</a>
              </li>
              <li class="pt-2">
                <a href="#!" class="text-decoration-none text-white">Our Sitemap</a>
              </li>
              <li class="pt-2">
                <a href="#!" class="text-decoration-none text-white">Latest News</a>
              </li>
              <li class="pt-2">
                <a href="#!" class="text-decoration-none text-white">Returns</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
          <div class="col-3">
            <h5 class="text-uppercase" style="color:#20D3C2">Recent Instagram</h5>
            <img src="images/Skärmbild 2022-04-28 155533.png" style="height:220px;">
          </div>

          <!--Grid column-->
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-start" style="height:110px; width:100%; background: linear-gradient(90deg, rgba(14,21,61,1) 0%, rgba(8,12,36,1) 51%, rgba(14,21,61,1) 100%);">
      <p style="float:left; padding-left:400px" class="pt-4">© 2020 Copyright:
      <a class="text-white link-unstyled" style="text-decoration: none;" href="https://mdbootstrap.com/">KenKata</a></p>
      <div class="text-end pt-4"><img style="padding-right:400px;height:50px; float: right;" src="images/Skärmbild 2022-04-28 152605.png"></div>
    </div>   

    <!-- Copyright -->
  </footer>