
<link rel="stylesheet" href="~/css/footer-style.css" />

<footer class="footer text-white pt-5">
      <section>
        <div class="row">
          <div class="col-md">
            <section class="text-start logo-area">
                <img class="logo" src="@Url.Content("~/images/Skärmbild 2022-04-28 150148.png")">
                <p class="small lorem"><br><br>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
                  repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
                  eum harum corrupti dicta, aliquam sequi voluptate quas.
                </p>
              </section>
        
          </div>
          <div class="col-3 pb-5 px-5">
            <h5 class="text-uppercase px-5 small text-turquoise">Contact Info</h5>
            <div class="small px-5 address">
            <span class="text-turquoise">Address:</span><br>
                Solna Business Park<br>
                Feni-2500, Stockholm<br><br>
                <span style="color:#20D3C2;">Phone:</span><br>
                +08-123456789<br>
                +08-123456789<br><br>
                <span style="color:#20D3C2;">Email:</span><br>
                support@website.com<br>
                info@website.com
            </div>

        </div>
          <div class="col-3">
            <h5 class="text-uppercase small text-turquoise">Useful links</h5>
            <ul class="list-unstyled">
              <li class="pt-2">
                <a asp-controller="ShopPage" asp-action="Index"  class="text-decoration-none text-white">Privacy Policy</a>
              </li>
              <li class="pt-2">
                <a href="#!" class="text-decoration-none text-white">Terms & Conditions</a>
              </li>
              <li class="pt-2">
                <a href="#!" class="text-decoration-none text-white">Contact Us</a>
              </li>
              <li class="pt-2">
                <a href="#!" class="text-decoration-none text-white">Our Sitemap</a>
              </li>
              <li class="pt-2">
                <a href="#!" class="text-decoration-none text-white">Latest News</a>
              </li>
              <li class="pt-2">
                <a href="#!" class="text-decoration-none text-white">Returns</a>
              </li>
            </ul>
          </div>
          <div class="col-3">
            <h5 class="text-uppercase small text-turquoise">Recent Instagram</h5>
            <img class="instagram" src="@Url.Content("~/images/Skärmbild 2022-04-28 155533.png")">
          </div>
        </div>
      </section>

    <div class="text-start copyright-banner">
      <p class="pt-4 small copyright">© 2020 Copyright:
      <a class="text-white link-unstyled kenkata-text" href="https://mdbootstrap.com/">KenKata</a></p>
      <div class="text-end pt-4"><img class="payment" src="@Url.Content("~/images/Skärmbild 2022-04-28 152605.png")"></div>
    </div>   
  </footer>
