<link rel="stylesheet" href="~/css/new-customer-style.css" />


<div class="pt-3 ps-5 pe-5 banner">
<section class="ps-5 fonts">
<h2 class="text-white pt-5 px-5 new-customer">New Customer</h2><div class="row">
<div class="fifty"><span class="ps-5 text-white">Can get</span> <span class="text-turquoise">50% off</span>
<br><button class="text-turquoise learn-button">Learn More</button>
</section><section class="pe-5 pt-5">
<img class="shoes" src="@Url.Content("~/images/Skärmbild 2022-05-02 114411.png")">
</section>  
</div>
</div></div>