
<link rel="stylesheet" href="~/css/Auth-style.css" />
@{
    ViewData["Title"] = "My Account/Login";
}
 @*<div class="container-fluid" style="background-color:#AAAAAA; color:#20D3C2; height:100px">
     <h3 class="">My Account</h3>
 </div>*@

 <div class="container mt-8 mb-8">
     <div class="row">

         <div class="col-2">            
        </div>

        <div class="form-box col-4 mt-8" style="background-color:#E3E3E3">
            <partial name="_LoginPartial" />
        </div>

        <div class="form-box col-4 mt-8" style="background-color:#E3E3E3">
            <partial name="_RegisterPartial" />
        </div>

        <div class="col-2">            
        </div>

     </div>
 </div>

 @section Scripts {
     @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
 }


@*   <div class="container mt-5">
     <div class="d-flex justify-content-center">
         <div class="col-8">
             <form asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">
                 <div class="row">
                     <div class="col-6 mb-3>"
                        <label asp-for="UserName" class="form-label"></label>
                        <input asp-for="UserName" class="form-controll" />
                        <span asp-validation-for="UserName" class="form-text text-danger"></span>
                     </div>
                     <div class="col-6 mb-3>"
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-controll" />
                        <span asp-validation-for="Email" class="form-text text-danger"></span>
                     </div>
                     <div class="col-6 mb-3>"
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-controll" />
                        <span asp-validation-for="Password" class="form-text text-danger"></span>
                     </div>

                     <div class="d-grid mb-3">
                         <button type="submit" class="btn btn-primary">Register</button>
                     </div>
                  </div>
             </form>
         </div>
     </div>
 </div>*@