body {
}

.banner-account {
    background-color: #AAAAAA;
    color: #20D3C2;
    padding-top: 80px;
    padding-bottom: 80px;
}


.form-box {
    margin: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}

h4 {
    margin-top: 10px;
}

input {
    height: 50px;
    width: fit-content;
    border-radius: 30px;
    border: none;
    text-align-last: end;
}

 input:focus {
    border: 2px solid #a4aede;
 }

.btn {
    height: 50px;
    margin-bottom: 40px;
    background-color: #20D3C2;
    color: white;
    border-radius: 35px
}

.bg-theme {
    background-color: #20D3C2;
}

.bg-grey{
    background-color:#E3E3E3
}

#btn-logout{    
    border-radius: 30px;
}

a{
    text-decoration: none
}

.auth-error {
    color: red;
}