.text-turquoise {
    color: #20D3C2;
}

.banner {
    background-color: #292f53;
    width: 100%;
    height: 22em;
}

.fonts {
    float: left;
    font-size: 3em;
    font-weight: 600;
}

.new-customer {
    font-size: 1em;
}

.fifty {
    display: inline-block;
}

.learn-button {
    margin-left: 2em;
    font-size: 25px;
    padding-right: 0.7em;
    padding-left: 0.7em;
    padding-bottom: 0.2em;
    border-radius: 36px;
}

.shoes {
    float: right;
    width: 20%;
}