body {
}

.banner-shoppingCart {
    background-color: #AAAAAA;
    color: #20D3C2;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 28px;
    font-weight: bold;
}

.cart-titel {
    color: #0E153D;
    font-weight: bold;
}

.cart-titel-theme {
    color: #20D3C2;
    font-weight: bold;
}

.theme-color {
    color: #20D3C2;
}

#hr-cart {
    height: 5px;
    color: #20D3C2;
}

#title-cartTotals {
    background-color: #0E153D;
    color: #20D3C2;
    border-radius: 10px;
}
#btn-to-checkout {
    
    border-radius: 35px;
    font-size: 1.2rem;
}