<meta name="viewport" content="width=device-width, scale=1.0" />
<link rel="stylesheet" href="~/css/shop-page-style.css" />


                <div class="subscribe-area">
                    <span class="text-uppercase subscribe">Subscribe </span>
                    <span class="text-uppercase subscribe text-turquoise">now</span><br />
                    <span style="font-size: smaller">
                        Signup for awesome news about our new<br />
                        products and know our special discounts on products
                    </span><br /><br />
                    <input class="email-input" placeholder="Enter email address" /><button class="subscribe-button">Subscribe</button>

            </div>