                <div class="subscribe-area">
                    <span class="text-uppercase subscribe">Subscribe </span>
                    <span class="text-uppercase subscribe text-turquoise">now</span><br />
                    <span style="font-size: smaller">
                        Signup for awesome news about our new<br />
                        products and know our special discounts on products
                    </span>
            </div>