@model IEnumerable<ProductModel>

                <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-4 justify-content-center">

@foreach (var item in ViewBag.Products)
{
    <div class="container px-4 px-lg-5 mt-5">
     <div class="col mb-5">
        <div class="card h-100">
            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
             <h5 class="fw-bolder">@item.Name</h5>
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                   <span class="text-muted">@item.Color</span>
                                                               <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>



</div>
</div>
    </div>

}
</div></div>


  