<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/css/shop-page-style.css" />



@model IEnumerable<ProductModel>

<partial name="_NewCustomerBanner" />
<div class="window">
                    <partial name="_Sidebar" />

<div class="spacing">

    <div class="first-div">


        <partial name="_Products" />
    </div>
</div>
</div>
<partial name="_Subscribe" />