
<link rel="stylesheet" href="~/css/Auth-style.css" />
@{
    ViewData["Title"] = "My Account/Login";
}

 <div class="container mt-8 mb-8">
     <div class="row">

         <div class="col-2">            
        </div>

        <div class="form-box col-4 mt-8" style="background-color:#E3E3E3">
            <partial name="_LoginPartial" />
            <partial name="_SocialAccounts" />
        </div>

        <div class="form-box col-4 mt-8" style="background-color:#E3E3E3">
            <partial name="_RegisterPartial" />
        </div>

        <div class="col-2">            
        </div>

     </div>
 </div>

 @section Scripts {
     @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
 }

