@{
    ViewData["Title"] = "My Account";
}
 <div class="container-fluid" style="background-color:#AAAAAA; color:#20D3C2; height:100px">
     <h3 class="">My Account</h3>
 </div>

 <div class="container mt-8 mb-8">
     <div class="row">

         <div class="col-2">            
        </div>

        <div class="col-4 mt-8" style="background-color:#E3E3E3">
            <h4 class="mt-5">LOGIN</h4>
            <p>Username or email</p>
            <input type="text" class="form-control" style="height:50px; border-radius:30px;"> 
            <p>Password</p>
            <input type="text" class="form-control" style="height:50px; border-radius:30px;">
            <button type="submit" class="btn w-100 mt-3" style="background-color:#20D3C2; color:white; border-radius:35px">LOG IN</button>

        </div>

        <div class="col-4 mt-8" style="background-color:#E3E3E3">
            <h4>REGISTER</h4>
            <p>Register for this site allows you to access your order status and history. Just fill in the fields in the fields below, and we'll get a new accountset up for you.</p>
            <p>Username</p>
            <input type="text" class="form-control" style="height:50px; border-radius:30px;"> 
            <p>Email address</p>
            <input type="text" class="form-control" style="height:50px; border-radius:30px;"> 
            <p>Password</p>
            <input type="text" class="form-control" style="height:50px; border-radius:30px;">
            <button type="submit" class="btn w-100 mt-3" style="background-color:#20D3C2; color:white; border-radius:35px">REGISTER</button>
        </div>

        <div class="col-2">            
        </div>

     </div>
 </div>