@model WebShopApp.Models.RegisterFormModel
<link rel="stylesheet" href="~/css/Auth-style.css" />
@{
    ViewData["Title"] = "My Account/Login";
}
 <div class="container-fluid" style="background-color:#AAAAAA; color:#20D3C2; height:100px">
     <h3 class=""></h3>
 </div>





 <div class="container mt-8 mb-8">
     <div class="row">

         <div class="col-2">            
        </div>

        <div class="form-box col-4 mt-8" style="background-color:#E3E3E3">
            <h4 class="">LOGIN</h4>
            <form asp-action="Login" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label asp-for="UserName" class="form-label">Username or Email</label><br />
            <input asp-for="UserName" class="form-controll w-100"> 
            <span asp-validation-for="UserName" class="form-text text-danger"></span><br />
            
            <label asp-for="Password" class="form-label">Password</label><br />
            <input asp-for="Password" class="form-controll w-100">
            <span asp-validation-for="Password" class="form-text text-danger"></span>
            <button type="submit" class="btn w-100 mt-3">LOG IN</button>
            </form>

        </div>

        <div class="form-box col-4 mt-8" style="background-color:#E3E3E3">
            <h4>REGISTER</h4>
            <p>Register for this site allows you to access your order status and history. Just fill in the fields in the fields below, and we'll get a new accountset up for you.</p>
            <form asp-action="Register" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label asp-for="UserName" class="form-label">Username</label><br />
            <input asp-for="UserName" class="form-controll w-100"> 
            <span asp-validation-for="UserName" class="form-text text-danger"></span><br />

            <label asp-for="Email" class="form-label">Email address</label><br />
            <input asp-for="Email" class="form-controll w-100"> 
            <span asp-validation-for="Email" class="form-text text-danger"></span><br />

            <label asp-for="Password" class="form-label">Password</label><br />
            <input asp-for="Password" class="form-controll w-100">
            <span asp-validation-for="Password" class="form-text text-danger"></span>
            <button type="submit" class="btn w-100 mt-3">REGISTER</button>
            </form>
        </div>

        <div class="col-2">            
        </div>

     </div>
 </div>

 @section Scripts {
     @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
 }


@*   <div class="container mt-5">
     <div class="d-flex justify-content-center">
         <div class="col-8">
             <form asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">
                 <div class="row">
                     <div class="col-6 mb-3>"
                        <label asp-for="UserName" class="form-label"></label>
                        <input asp-for="UserName" class="form-controll" />
                        <span asp-validation-for="UserName" class="form-text text-danger"></span>
                     </div>
                     <div class="col-6 mb-3>"
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-controll" />
                        <span asp-validation-for="Email" class="form-text text-danger"></span>
                     </div>
                     <div class="col-6 mb-3>"
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-controll" />
                        <span asp-validation-for="Password" class="form-text text-danger"></span>
                     </div>

                     <div class="d-grid mb-3">
                         <button type="submit" class="btn btn-primary">Register</button>
                     </div>
                  </div>
             </form>
         </div>
     </div>
 </div>*@