@model IEnumerable<CategoryModel>
@*<link rel="stylesheet" href="~/css/section-category-style.css" />*@

<style>
    #category-cards .card-body > div > h6 {
        color: white;
        margin-bottom: 0px;
        display: inline-block;
    }

    #category-cards .card-body > div > h5 {
        display: inline-block;
    }

    #category-cards .card-body {
        bottom: 0px;
        /*position: absolute;*/
        width: 50%;
    }

        #category-cards .card-body > div {
            background-color: #0E153D;
            color: #20D3C2;
            padding-left: 3px;
            padding-top: 7px;
            min-height: 40px;
            font-family: 'Roboto';
            font-size: 16px;
            border-top-right-radius: 12px 12px;
            border-bottom-left-radius: 12px 12px;
        }

    .card {
        border-radius: 12px;
        display: inline-block;
        background-color: #AAAAAA;
    }


    @@media screen and (min-width: 1400px) {
        #category-cards .card:nth-child(1) {
            min-height: 214px;
            min-width: 214px;
            vertical-align: top;
        }

        #category-cards .card:nth-child(2) {
            min-height: 214px;
            min-width: 439px;
            vertical-align: top;
        }

        #category-cards .card:nth-child(3) {
            min-height: 438px;
            min-width: 438px;
        }

        #category-cards .card:nth-child(4) {
            min-height: 438px;
            min-width: 438px;
            margin-top: -222px;
            vertical-align: top;
        }

        #category-cards .card:nth-child(5) {
            min-height: 214px;
            min-width: 214px;
            margin-top: -222px;
            vertical-align: top;
        }

        #category-cards .card:nth-child(6) {
            min-height: 214px;
            min-width: 438px;
            margin-left: -215px;
        }

        #category-cards .card:nth-child(7) {
            min-height: 214px;
            min-width: 214px;
        }
    }

    @@media screen and (max-width: 1400px) {
        #category-cards .card {
            width: 49%;
            margin-bottom: 10px;
            min-height: 200px !important;
        }
    }

    .accent-title-color {
        color: #20D3C2;
    }

    .text-container {
        margin-left: 10%;
        text-align: left;
    }

    .category-item {
        transition: 0.5s;
        background-size: contain;
    }

        .category-item:hover {
            cursor: pointer;
            background-color: #0E153D;
            color: white;
        }

</style>

<div id="category-cards" class="container px-4 px-lg-5 mt-5 text-center">
    <h2 class="text-center">SHOP BY <span class="accent-title-color">CATEGORY</span></h2>
    <p class="text-center">We always try to give you the best product within a fast and reliable way</p>

    <div class="mt-4">
        @foreach (var category in Model)
        {
            <div class="card h-100 category-item" data-url="@Url.Action("Category", "ShopPage", new {id = category.Id})" style="background-image:url('@category.ImagePreview')">
                <div class="card-body p-0 m-0 border-top-0">
                    <div>
                        <div class="d-inline-block text-container">
                            <h5>@category.Name</h5>
                            @if (category.ProductCount > 0)
                            {
                                <h6><small>@category.ProductCount.ToString() product(s)</small></h6>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(init);


    function init(){
        registerCategoryClickEvent();
    }

    function registerCategoryClickEvent(){
        $(".category-item").on("click", onCategoryClicked)
    }

    function onCategoryClicked(){
        const url = $(this).data("url");

        window.location = url;
        return false;
    }
</script>