@model IEnumerable<CategoryModel>
<link rel="stylesheet" href="~/css/section-category-style.css" />


<div id="category-cards" class="container px-4 px-lg-5 mt-5 text-center">
    <h2 class="text-center">SHOP BY <span class="accent-title-color">CATEGORY</span></h2>
    <p class="text-center">We always try to give you the best product within a fast and reliable way</p>

    <div class="mt-4">
        @foreach (var category in Model)
        {
            <div class="card h-100 category-item" data-url="@Url.Action("Category", "ShopPage", new {id = category.Id})" style="background-image:url('@category.ImagePreview')">
                <div class="card-body p-0 m-0 border-top-0">
                    <div>
                        <div class="d-inline-block text-container">
                            <h5>@category.Name</h5>
                            @if (category.ProductCount > 0)
                            {
                                <h6><small>@category.ProductCount.ToString() product(s)</small></h6>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(init);


    function init(){
        registerCategoryClickEvent();
    }

    function registerCategoryClickEvent(){
        $(".category-item").on("click", onCategoryClicked)
    }

    function onCategoryClicked(){
        const url = $(this).data("url");

        window.location = url;
        return false;
    }
</script>