<link rel="stylesheet" href="~/css/section-ad-style.css" />

<div class="card-shopping-ad container px-4 px-lg-5 my-5">
    <div class="row p-5">
        <div class="col">
            <div class="text-white">
                <h1 class="display-4 fw-bolder main-ad-text">Shopping is <span class="main-ad-partial-text"><br />MORE FUN</span></h1>
                <p class="lead fw-normal text-black-50 mb-0 ad-text">Vivamus dignissim a ex eu ornare. Ut fermentum orci <br />vel diam ultricies faucibus. Quisque quis erat sed</p>
                <br />
                <a class="btn btn-light text-left shop-now-btn" href="/ShopPage">SHOP NOW</a>
            </div>
        </div>
        <div class="col">
            <img class="img-fluid" src="~/images/homepage-ad.png" />
        </div>
    </div>
</div>
