<link rel="stylesheet" href="~/css/section-ad-new-customer-style.css" />

<div class="card-shopping-ad-new-customer container px-4 px-lg-5 my-5">
    <div class="row align-items-center">
        <div class="col">
            <div class="text-white shop-now-new-customer text-center float-end">
                <div class="mt-4">
                    <h1 class="display-4 fw-bolder main-ad-text">30% OFF</h1>
                    <p class="lead fw-normal text-white mb-0 ad-text">FOR NEW CUSTOMER</p>
                    <br />
                    <a class="btn btn-light text-left shop-now-btn" href="/ShopPage">SHOP NOW</a>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
        <div class="col p-5">
            <div class="text-white">
                <p class="lead fw-normal text-black-50 mb-0 ad-text">Donec pulvinar arcu vitae ipsum varius cursus. Nunc <br />iaculis fermentum iaculis. Nunc pulvinar purus at erat lacinia, ut convallis nibh consequat. <br />Integer nulla nisi, aliquam at tellus a, viverra scelerisque purus. Nam <br />pretium iaculis ultrices.</p>
                <br />
                <a class="btn btn-light shop-now-btn" href="/ShopPage">Learn More</a>
            </div>
        </div>
    </div>
</div>
